*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    transition: all linear 0.3s;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 4%;
    padding-right: 8%;
}

.logo{
    color: white;
    letter-spacing: 2px;
    font-size: 35px;
    cursor: pointer;
}
span{
    color: #ff4500;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover, a.active{
    color: #ff4500;
    transition: 0.5s;
}
nav .fa{
    display: none;
}

@media(max-width: 900px){
    .hero{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(28, 54, 51, 0.3)), url(./images/me3.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .logo{
        font-size: 28px;
        line-height: 30px;
    }
    .nav-links{
        position: absolute;
        background: #e99272;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav ul li{
        display: block;
        text-transform: uppercase;
    }
    nav ul{
        padding: 40px 15px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 0 10px;
        font-size: 30px;
        cursor: pointer;
    }
    
    .content h1{
        font-size: 50px;
    }
    .content h3{
        color: white;
        font-size: 18px;
        margin-bottom: 50px;
    }
    h4{
        color: #ffa781;
        letter-spacing: 2px;
        font-size: 14px;
    }
    .content {
        width: 90% !important;
    }
    content .newsletter form{
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    .about img {
        height: 27rem !important;
        width: auto !important;
    }
}
/*.btn{
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}
.btn:hover{
    transform: scale(1.2);
}*/

.content{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #ffa781;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #ff4500;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ff4500;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-me{
    max-width: 100%;
    margin-left: 70px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-me h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-me p{
    color: #fcc7b0;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 50px;
}
.button {
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 5px;
    transition: 0.4s;
    /*outline: 1.5px solid #ff4500;
    outline-offset: 0.2rem;*/
}
.button:hover{
    background-color: transparent;
    border: 1px solid #ff4500;
    cursor: pointer;
}
@media (max-width:900px) {
    .main {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: column !important;
    }
    .about-me h2{
        font-size: 60px;
        margin-top: 30px;
    }
    .container h2{
        font-size: 60px;
        text-align: center;
    }
    .card h5 {
        font-size: 18px !important;
    }
    .container {
        margin: 0 80px !important;
    }
    .about-me{
        margin-left: 0;
    }
    .about-me p{
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 50px;
    }
    .button {
        padding: 10px 20px;
        border-radius: 5px;
        transition: 0.4s;
    }
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container{
        max-width: 100%;
    }
    .contact-me p{
        font-size: 30px;
        text-align: center;
    }
    .images p{
        font-size: 25px !important;
    }
    .container img{
        width: 100% !important;
    }
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px !important;
    }
    .sub-title{
        font-size: 60px;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
        margin-left: 0px !important;
        margin-top: 50px;
    }
}
.gallery{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.gallery h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.card1{
    height: 415px;
    width: 335px;
    padding: 20px 30px;
    background-image: url(./images/me4.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card2{
    height: 415px;
    width: 335px;
    padding: 20px 30px;
    background-image: url(./images/Snapchat-1827675757.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card3{
    height: 415px;
    width: 335px;
    padding: 20px 30px;
    background-image: url(./images/Snapchat-253051051.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/************************* Projects***************/

.projects{
    max-width: 100%;
    padding: 100px 0;
    background-color: #191919;
}
.container{
    max-width: 100%;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.images p{
    color: #ffa781;
    font-weight: 600;
    padding: 30px;
    font-size: 30px;
}
.container img{
    height: auto;
    width: 50%;
    /*float: left;*/
}

.img{
    border-radius: 20px;
    padding-bottom: 30px;
}
.small{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;

}
.container h2{
    color: #fff;
    font-size: 65px;
    text-align: center;
}

hr{
    display: block;
    height: 2px;
    background: linear-gradient(to right, #ff4500, #745c52);
    border-width: 0;
    width: 10%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 40px;
    border-radius: 30px;
    transition: 0.4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #ff4500;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center
}
.container{
    padding: 10px 10%;
}
.sub-title{
    text-align: center;
}
.row{
    display: flex;
    margin-top: 100px;
    max-width: 100%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
    margin-left: 100px;
}
.contact-left p{
    margin-top: 30px;
    color: #fff;
}
.contact-left p i{
    color: #ff4500;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}
.social-icons a:hover{
    color: #ff4500;
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    background: #ff4500;
    color: #fff;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
}
.btn2:hover{
    background: transparent;
    border: 1px solid #ff4500;
}
.input input, .input textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 5px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #181818;
    font-weight: 300;
    margin-top: 20px;
    color: #ababab;
}
/*footer p/*:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff4500;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.column{
    width:100%;
}
.column ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
}
.column ul li a{
    color: white;
    font-weight: 100;
}
.column ul li i{
    color: #fff;
    background-color: #ff4500;
    display: inline-flex;
}
.column ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
.end{
    position: absolute;
    color: #ff4500;
    bottom: 35px;
    font-size: 14px;
}*/